@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

* {
  transition: all 0.17777s ease;
  box-sizing: border-box;
}

/* navigation circle animation */

.underlinedRuler::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(194, 194, 194, 0.13);
  display: block;
}

.gracia-color {
  color: #b6b6b615;
}

.maskClipper {
  background: rgba(210, 142, 255, 0.15);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(121, 10, 212, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  mask-image: url("/mask-ellipse.svg");
  mask-size: 25px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.classbased-grid {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image:
      linear-gradient(to right, rgb(203 213 225) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(203, 213, 225) 1px, transparent 1px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
}
